#versao da api dos kubernets
apiVersion: apps/v1
#cria um objeto do tipo deployment
#esse objeto gerencia e atualiza os pods
kind: Deployment
metadata:
  #define um nome para o objeto
  name: nginx
spec:
  #mantem uma replica do container do nginx rodando
  replicas: 1
  #selector define quais pods o nosso objeto pode gerenciar
  #nesse caso objetos com app: nginx
  selector:
    matchLabels:
      app: nginx
  #template define qual pod sera criado
  template:
    metadata:
      #adiciona etiquetas as pods criados usando esse objeto
      #esse nome define oq o selector vai procurar
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          ports:
          - containerPort: 80
          # --- INÍCIO DA CORREÇÃO ---
          # Diz ao contêiner para montar o volume no local correto
          volumeMounts:
            - name: nginx-config-volume
              mountPath: /etc/nginx/conf.d/
      # Define o volume que será montado, usando o ConfigMap que criamos
      volumes:
        - name: nginx-config-volume
          configMap:
            name: nginx-config
      # --- FIM DA CORREÇÃO ---